/* General Container Styling */
.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.47);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
h2 {
    font-size: 3em;
    color: #000000;
    font-weight: bolder;
}

/* Paragraph Styling */
p {
    font-size: 1.5em;
    color: #000000;
    font-weight: bolder;
}

body{
    background-image: url("../images/background_1.jpg");
    background-position: left top;
}
